<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Posts</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to PawPals</h1>
    <h2>The social app for pet owners</h2>
    <%= link_to signup_path, :class => "btn btn-lg btn-danger" do %>
      <div>
        <i class="material-icons">settings</i><span>Sign up now</span>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <h3>Sign in to your account</h3>
      <p>Update your pets, organize meet ups and interact with fellow pet owners</p>
      <%= link_to login_path, :class => "btn btn-success" do %>
        <div>
          <i class="material-icons">person</i><span>Log in to your account</span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>