<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">

    <div class="user_info mb-5">
      <%= picture_for @user %>
      <h1><%= @user.name %></h1>
    </div>

    <h2>Pets</h2>
    <div class="row">
      <% @user.pets&.each do |pet| %>
        <div class="pet-container col-xs-12 col-sm-6">
          <%= image_tag pet.image, class: "ui tiny circular image" if pet.image.attached? %>
          <h2><%= pet.name %></h2>
        </div>
      <% end %>
    </div>

  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>Posts</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
