<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">

    <div class="user_info mb-5">
      <%= picture_for @user %>
      <h1><%= @user.name %></h1>
    </div>

    <h2>Pets</h2>
    <div class="row">
      <% @user.pets&.each do |pet| %>
        <div class="pet-container col-xs-12 col-sm-6">
          <%= image_tag pet.image, class: "ui tiny circular image" if pet.image.attached? %>
          <h2>Name: <%= pet.name %></h2>
        </div>
      <% end %>
    </div>

  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>Posts</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
<!--    <hr>-->
  <%# end %>
  
  <%# @user.courses.each do |course| %>
<!--    <div class="course-summary col-sm-8 col-sm-offset-2">-->
<!--      <h3><%#= link_to course.name, course_path(course) %></h3>-->
<!--      <p>Prerequisite: <%#= course.prerequisite %></p>-->
<!--      <p>Created: <%#= time_ago_in_words(course.created_at) %> ago</p>-->
<!--      <div class="course-rating">-->
        <%# if current_user != nil %>
          <%#= form_for(current_user.course_votes.build) do |form| %>
            <%#= hidden_field_tag :user_id, current_user.id %>
            <%#= hidden_field_tag :course_id, course.id %>
            <%#= hidden_field_tag :up_or_down, "up" %>
  
<!--            <button type="submit" class="no-default">-->
<!--              <span>-->
<!--                <i class="material-icons">thumb_up</i>-->
                <%#= course.course_votes.where(:up_or_down => "up").count %>
<!--              </span>-->
<!--            </button>-->
          <%# end %>
        <%# else %>
<!--          <button type="submit" class="no-default">-->
<!--            <span>-->
<!--              <i class="material-icons">thumb_up</i>-->
              <%#= course.course_votes.where(:up_or_down => "up").count %>
<!--            </span>-->
<!--          </button>-->
        <%# end %>
        
        <%# if current_user != nil %>
          <%#= form_for(current_user.course_votes.build) do |form| %>
            <%#= hidden_field_tag :user_id, current_user.id %>
            <%#= hidden_field_tag :course_id, course.id %>
            <%#= hidden_field_tag :up_or_down, "down" %>
            
<!--            <button type="submit" class="no-default">-->
<!--              <span>-->
<!--                <i class="material-icons">thumb_down</i>-->
                <%#= course.course_votes.where(:up_or_down => "down").count %>
<!--              </span>-->
<!--            </button>-->
          <%# end %>
        <%# else %>
<!--          <button type="submit" class="no-default">-->
<!--              <span>-->
<!--                <i class="material-icons">thumb_down</i>-->
                <%#= course.course_votes.where(:up_or_down => "down").count %>
<!--              </span>-->
<!--            </button>-->
        <%# end %>
<!--      </div>-->
  
<!--    </div>-->
<!--    <hr>-->
  <%# end %>
</div>
